* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font-family: Roboto;
    --font-headings: Arial;
    --primary-color: #FFD60A;
    --secondary-color: #003566;
    --accent-color-1: #ffc300;
    --accent-color-2: #001d3d;
    --text-color: #001D3D;
    --background-color: #333;
    --link-color: #001D3D;
    --border-color: #001D3D;
    --shadow-color: hwb(0 80% 19%);
    --max-width: 840px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header img {
    float: left;
    width: 160px;
    height: auto;
    margin-top: -90px;
}

header {
    margin-top: 50px;
    background-color: var(--secondary-color);
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px var(--shadow-color);
    position: relative;
    z-index: 10;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: aliceblue;
    background-color: rgba(91, 88, 88, 0.264);
}

a {
    text-decoration: none;
    /* Quita el subrayado */
    color: var(--accent-color-1);
    font-family: var(--font-family);
    margin-right: 45px;
}

.hero {
    position: relative;
    height: 300px;
    /* Ajusta según tus necesidades */
    background-image: url('images/rafting.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    /* Cambia el color del texto si es necesario */
    padding: 10px;
    /* Espacio interno */
}

h1 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    /* Ajusta el tamaño de la fuente según tus necesidades */
    background-color: rgba(34, 35, 35, 0.487);
    z-index: 10;
    /* Asegúrate de que esté por encima de la imagen */
    font-family: var(--font-family);
}

article {
    position: absolute;
    top: 100px;
    /* Ajusta según sea necesario */
    width: 50%;
    text-align: center;
    background-color: rgba(65, 82, 209, 0.234);
    /* Fondo semitransparente */
    padding: 9px;
    border-radius: 5px;
    margin-left: 25%;
    font-family: var(--font-family);
}

.happy-image {
    float: right;
    /* Alinea la imagen a la izquierda */
    width: 190px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.rafting-images img {
    width: 150px;
    /* Ajusta el tamaño de las imágenes */
    height: auto;
    margin-right: 5px;
    /* Espacio entre las imágenes */
}

footer {
    margin-top: 1%;
    background-color: var(--secondary-color);
    padding: 5px;
    text-align: center;
    color: var(--primary-color);
    padding: 2%;
}

footer img {
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}