* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary-color: steelblue;
    --text-color: #333;
    --background-color: #f5f2f2;
    --link-color: rgb(248, 245, 245);
    --border-color: rgba(74, 72, 72, 0.2);
    --shadow-color: gray;
    --max-width: 840px;
}

p {
    font-family: var(--font-family);
    padding: 10px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--link-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

main {
    max-width: var(--max-width);
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 13px;
    left: 130px;
}

aside img {
    padding: 1rem;
    width: 200px;
    height: auto;
}

.footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1 rem;
    background-color: #ddd;
    color: #000;
}